

# VerificationStatus

## Enum


* `PROCESSING` (value: `"Processing"`)

* `READY` (value: `"Ready"`)

* `EXPIRED` (value: `"Expired"`)

* `VERIFIED` (value: `"Verified"`)

* `ERROR` (value: `"Error"`)



